body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: static;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  max-height: 30px;
  height: 100%;
  background-color: black;
}

.logo {
  margin: auto auto auto 10px;
  max-height: 40px;
}

.navbar__logo-container {
  max-height: 80%;
  margin: 0;
  padding: 0;
}
